@import "tailwindcss";
@import "tw-animate-css";
@source "./**/*.{js,ts,jsx,tsx}";
@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@source "../../../plugins/*/src/client/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

button,
a {
  cursor: pointer;
}

:root {
  --background: oklch(0.9249 0 0);
  --foreground: oklch(0.2795 0.0368 260.031);
  --card: oklch(0.9315 0.0051 228.8216);
  --card-foreground: oklch(0.2795 0.0368 260.031);
  --popover: oklch(0.9699 0.0013 106.4238);
  --popover-foreground: oklch(0.2795 0.0368 260.031);
  --primary: oklch(0.5965 0.0559 234.8402);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.486 0.0243 232.6077);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9232 0.0026 48.7171);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.5965 0.0559 234.8402);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8687 0.0043 56.366);
  --input: oklch(0.8687 0.0043 56.366);
  --ring: oklch(0.5965 0.0559 234.8402);
  --chart-1: oklch(0.5965 0.0559 234.8402);
  --chart-2: oklch(0.7031 0.1315 223.4718);
  --chart-3: oklch(0.5965 0.0559 234.8402);
  --chart-4: oklch(0.7031 0.1315 223.4718);
  --chart-5: oklch(0.5965 0.0559 234.8402);
  --sidebar: oklch(0.8687 0.0043 56.366);
  --sidebar-foreground: oklch(0.2795 0.0368 260.031);
  --sidebar-primary: oklch(0.5965 0.0559 234.8402);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5965 0.0559 234.8402);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.8687 0.0043 56.366);
  --sidebar-ring: oklch(0.5965 0.0559 234.8402);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: #95959d;
  --shadow-2xs: 0px 4px 10px 4px hsl(240 3.9216% 60% / 0.09);
  --shadow-xs: 0px 4px 10px 4px hsl(240 3.9216% 60% / 0.09);
  --shadow-sm:
    0px 4px 10px 4px hsl(240 3.9216% 60% / 0.18), 0px 1px 2px 3px
    hsl(240 3.9216% 60% / 0.18);
  --shadow:
    0px 4px 10px 4px hsl(240 3.9216% 60% / 0.18), 0px 1px 2px 3px
    hsl(240 3.9216% 60% / 0.18);
  --shadow-md:
    0px 4px 10px 4px hsl(240 3.9216% 60% / 0.18), 0px 2px 4px 3px
    hsl(240 3.9216% 60% / 0.18);
  --shadow-lg:
    0px 4px 10px 4px hsl(240 3.9216% 60% / 0.18), 0px 4px 6px 3px
    hsl(240 3.9216% 60% / 0.18);
  --shadow-xl:
    0px 4px 10px 4px hsl(240 3.9216% 60% / 0.18), 0px 8px 10px 3px
    hsl(240 3.9216% 60% / 0.18);
  --shadow-2xl: 0px 4px 10px 4px hsl(240 3.9216% 60% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2686 0 0);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2739 0.0055 286.0326);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2801 0.008 59.3379);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.5785 0.1077 222.9578);
  --primary-foreground: ;
  --secondary: oklch(0.3049 0.0438 247.0646);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2287 0.0074 67.4469);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.5785 0.1077 222.9578);
  --accent-foreground: oklch(0.8717 0.0093 258.3382);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.2244 0.0074 67.437);
  --border: oklch(0.3359 0.0077 59.4197);
  --input: oklch(0.3359 0.0077 59.4197);
  --ring: oklch(0.4093 0.0084 53.2673);
  --chart-1: oklch(0.6242 0.1695 149.0936);
  --chart-2: oklch(0.7198 0.1918 149.5204);
  --chart-3: oklch(0.7503 0.1507 152.9901);
  --chart-4: oklch(0.6902 0.1483 162.2402);
  --chart-5: oklch(0.7331 0.2238 143.742);
  --sidebar: oklch(0.2739 0.0055 286.0326);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(57.6% 0.10807 223.861 / 0.536);
  --sidebar-primary-foreground: oklch(0.2244 0.0074 67.437);
  --sidebar-accent: oklch(0.5785 0.1077 222.9578);
  --sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
  --sidebar-border: oklch(0.3359 0.0077 59.4197);
  --sidebar-ring: oklch(0.5965 0.0559 234.8402);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 4px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 4px 10px 4px hsl(0 0% 0% / 0.18), 0px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 4px 10px 4px hsl(0 0% 0% / 0.18), 0px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 4px 10px 4px hsl(0 0% 0% / 0.18), 0px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 4px 10px 4px hsl(0 0% 0% / 0.18), 0px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 4px 10px 4px hsl(0 0% 0% / 0.18), 0px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 4px 10px 4px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
